# specific files
.gitignore
IDEAS.txt
graveyard.R

# folders
countries/*
images/*
notes/*
rsconnect/*
THOR/*

# types of files
*.csv
/*.csv
*.txt
/*.txt
*.jpg
/*.jpg
*.pdf
/*.pdf
*.png
/*.png
*.Rda
/*.Rda
*.RData
/*.RData
.Rapphistory
.Rhistory
/*_cache/
/cache/

